body {
    font-family: 'Courier New', Courier, monospace;
}

.flex {
    display: flex;
}

.flex-centered {
    justify-content: space-evenly;
}

.header {
    background-color: black;
}

#maintitle {
    color: #ff0f0f;
    margin: 0px 0px 0px 2px;
    font-size: 100px;
}

.logo {
    width: 15%;
    height: 15%;
}

#subtitle {
    color: #434b53;
    margin: 3px 3px 3px 3px;
}

.direction-links button {
    border-color: white;
    background-color: white;
    color: red;
}

.direction-links :active {
    color: blue;
}

#team-photo{
    width: 100%;
}

.bold {
    font-weight: bold;
}

span.coach {
    color: darkred;
}

.description {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.captain {
    font-weight: bolder;
    color: red;
}

.senior::after {
    content: " '24";
}

.junior::after {
    content: " '25";
}

.sophmore::after {
    content: " '26";
}

.freshman::after {
    content: " '27";
}

.coach-linking {
    display: flex;
    color: black;
    flex-wrap: wrap;
}

.coach-linking a {
    font-weight: bold;
    transition: ease 1s;
}

li > a {
    color: black;
}

.coach-linking a:hover {
    transform: translateY(3px) scale(1.07);
    background-color: antiquewhite;
    box-shadow: 5px 5px 3px black
}
