.flex {
    display: flex;
}

.flex-centered {
    justify-content: space-evenly;
}

.header {
    background-color: black;
}

#maintitle {
    color: #ff0f0f;
    margin: 0px 0px 0px 2px;
    font-size: 100px;
}

.logo {
    width: 15%;
    height: 15%;
}

#subtitle {
    color: #434b53;
    margin: 3px 3px 3px 3px;
}

.direction-links {
    border-color: white;
    background-color: white;
}

.direction-links a {
    color: red;
}

.direction-links :active {
    color: blue;
}

#team-photo{
    width: 100%;
}

.bold {
    font-weight: bold;
}

span.coach {
    color: darkred;
}