body {
    background-color: black;
}
.flex {
    display: flex;
}
#maintitle {
    color: #ff0f0f;
    margin: 0px 0px 0px 2px;
    font-size: 100px;
}

.logo {
    width: 15%;
    height: 15%;
}

#subtitle {
    color: #434b53;
    margin: 3px 0px 3px 0px ;
}